.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0px 30px;
}

.card {
    width: 180px;
    height: 190px;
    padding: 20px;
    border-radius: 17px;
    background-color: #2b7fc3;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card button {
        color: white;
        border: none;
        border-radius: 13px;
        padding: 5px 10px;
        cursor: pointer;
    }

.btn-e {
    display: flex;
    gap: 5px;
}

#editar {
    background-color: green;
}
#excluir {
    background-color: red;
}
