.aluno-card {
    padding: 10px;
    border-radius: 10px;
    background: #2b7fc3;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.2s;
}

    .aluno-card:hover {
        transform: scale(1.03);
        background: #1e3c72;
    }
